<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LinkUp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="css/favicon.ico">
        <!-- for files where we use req.params -->
    <link rel="icon" href="/css/favicon.ico">
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-sizes">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/home">Home</a>
        <a class="nav-link" href="/network">Manage Network</a>
        <!-- <a class="nav-link" href="#">Jobs</a> -->
        <!-- <a class="nav-link" href="#">Notifications</a> -->
        <a class="nav-link" href="/me">Profile</a>
        <a class="nav-link" href="/info">Info</a>
        <!-- <a class="nav-link" href="/more">About</a> -->
        <!-- <a class="nav-link" href="/images">Profile Picture</a> -->
        <a class="nav-link" href="/logout">Log Out</a>
        <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
      </div>
    </div>
  </div>
</nav>
  </head>
  <body>
<div class="">
